E_MAILER_HOSTNAME=mail.example.com
E_MAILER_PUBLIC_URL=http://localhost:8080
E_MAILER_ADMIN_EMAIL=admin@example.com

POSTGRES_DB=emailer
POSTGRES_USER=emailer
POSTGRES_PASSWORD=change-me

API_PORT=3000
ADMIN_UI_PORT=8080
